.body {
    font-family: 'Merriweather Sans';
    color: slategrey;
    background: white;
    font-size: 14px;
    padding: 40px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.name {
    font-size: 200%;
    font-weight: bold;
}

.section-header {
    text-transform: uppercase;
    color: deepskyblue;
    font-weight: bold;
    margin-bottom: 20px;
}

.company-name,
.project-name {
    font-weight: bolder;
}

.job-role ,
.project-description{
    font-style: italic;
}

.content-header {
    color: darkslategrey;
}

.job-duration {
    font-family: 'Open Sans';
    color: lightslategrey;
    font-size: 80%;
}

.total-job-exp{
    font-family: 'Open Sans';
    font-weight: bolder;
    color: rgb(20, 24, 27);
    font-size: 85%;
}

.job-summary,
.project-summary {
    margin-top: 10px;
}

.padding-left-0 {
  padding-left: 0px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

.font-bold {
  font-weight: bolder;
}

.font-180 {
  font-size: 180%;
}

.font-200 {
  font-size: 200%;
}

.fa-stackoverflow-color{
  color: #EE7A3B;
}

.fa-github-color{
  color: #000000;
}
