body {
    padding: 30px;
}

.sidebar-wrapper .contact-list li {
    margin-bottom: 10px;
}

.sidebar-wrapper .interests-list li {
    margin-bottom: 5px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:underline;
}

.link {
    color: deepskyblue;
    text-decoration: underline;
}